apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-echo
  labels:
    app: go-echo
    kubernetes.azure.com/generator: ca
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-echo
  template:
    metadata:
      labels:
        app: go-echo
    spec:
      containers:
        - name: go-echo
          image: testACRCA.azurecr.io/goecho:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 1323
